p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  padding: .5em 1.5em;
}

#p1{
  color: hotpink;
}